/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}

/*****----- Global Properties -----*****/
@import                          ".config/rofi/shared/colors.rasi"
@import                          ".config/rofi/shared/fonts.rasi"

* {
    selected:       @primary;
    background:     @surface;
    foreground:     @on-surface;
    active:         @secondary;
    urgent:         @error;
    background-alt: @surface-container;


    border-color:                @primary;
    handle-color:                @primary;
    
    background-color:            @surface;
    foreground-color:            @on-surface;
    alternate-background:        @surface-container; 
    normal-background:           transparent;
    normal-foreground:           @on-surface;
    
    alternate-normal-background: transparent;
    alternate-normal-foreground: @on-surface;

    selected-normal-background:  @primary;
    selected-normal-foreground:  @on-primary;
    urgent-background:           transparent;
    urgent-foreground:           @error;
    
    selected-urgent-background:  @error;
    selected-urgent-foreground:  @on-error;
    
    alternate-urgent-background: transparent;
    alternate-urgent-foreground: @error;
    active-background:           transparent;
    active-foreground:           @secondary;
    
    selected-active-background:  @secondary;
    selected-active-foreground:  @on-secondary;
    
    alternate-active-background: transparent;
    alternate-active-foreground: @secondary;
}

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       500px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      2px solid;
    border-radius:               20px;
    border-color:                @selected;
    cursor:                      "default";
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     15px;
    margin:                      0px;
    padding:                     30px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    children:                    [ "inputbar", "message", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     15px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    children:                    [ "textbox-prompt-colon", "prompt"];
}

textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "";
    padding:                     12px 16px;
    border-radius:               100%;
    background-color:            @urgent;
    text-color:                  @background;
}
prompt {
    enabled:                     true;
    padding:                     12px;
    border-radius:               100%;
    background-color:            @active;
    text-color:                  @background;
}

/*****----- Message -----*****/
message {
    enabled:                     true;
    margin:                      0px;
    padding:                     12px;
    border:                      0px solid;
    border-radius:               14px;
    border-color:                @selected;
    background-color:            @background-alt;
    text-color:                  @foreground;
}
textbox {
    background-color:            inherit;
    text-color:                  white;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    placeholder-color:           @foreground;
    blink:                       true;
    markup:                      true;
}
error-message {
    padding:                     12px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            @background;
    text-color:                  @foreground;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       5;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     5px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     12px;
    border:                      0px solid;
    border-radius:               14px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  white;
    cursor:                      pointer;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
element selected.normal {
    background-color:            var(selected);
    text-color:                  var(background);
}
