* {
    primary: #92d5abcc;
    primary-fixed: #adf2c6;
    primary-fixed-dim: #92d5ab;
    on-primary: #003920;
    on-primary-fixed: #002111;
    on-primary-fixed-variant: #075232;
    primary-container: #075232;
    on-primary-container: #adf2c6;
    secondary: #b5ccbb;
    secondary-fixed: #d1e8d6;
    secondary-fixed-dim: #b5ccbb;
    on-secondary: #213528;
    on-secondary-fixed: #0b1f14;
    on-secondary-fixed-variant: #374b3e;
    secondary-container: #374b3e;
    on-secondary-container: #d1e8d6;
    tertiary: #a3cddc;
    tertiary-fixed: #bfe9f8;
    tertiary-fixed-dim: #a3cddc;
    on-tertiary: #043541;
    on-tertiary-fixed: #001f27;
    on-tertiary-fixed-variant: #224c58;
    tertiary-container: #224c58;
    on-tertiary-container: #bfe9f8;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0f1511cc;
    on-surface: #dfe4ddcc;
    on-surface-variant: #c0c9c0;
    outline: #8a938b;
    outline-variant: #404942;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dfe4dd;
    inverse-on-surface: #2c322d;
    inverse-primary: #286a48;
    surface-dim: #0f1511;
    surface-bright: #353b36;
    surface-container-lowest: #0a0f0c;
    surface-container-low: #171d19;
    surface-container: #1b211d;
    surface-container-high: #262b27;
    surface-container-highest: #313632;
}
