* {
    primary: #cabeffcc;
    primary-fixed: #e6deff;
    primary-fixed-dim: #cabeff;
    on-primary: #32285e;
    on-primary-fixed: #1d1148;
    on-primary-fixed-variant: #493f77;
    primary-container: #493f77;
    on-primary-container: #e6deff;
    secondary: #cac3dc;
    secondary-fixed: #e6dff9;
    secondary-fixed-dim: #cac3dc;
    on-secondary: #312e41;
    on-secondary-fixed: #1c192b;
    on-secondary-fixed-variant: #484458;
    secondary-container: #484458;
    on-secondary-container: #e6dff9;
    tertiary: #edb8cc;
    tertiary-fixed: #ffd8e5;
    tertiary-fixed-dim: #edb8cc;
    on-tertiary: #492535;
    on-tertiary-fixed: #301120;
    on-tertiary-fixed-variant: #623b4b;
    tertiary-container: #623b4b;
    on-tertiary-container: #ffd8e5;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #141318cc;
    on-surface: #e6e1e9cc;
    on-surface-variant: #c9c4d0;
    outline: #938f99;
    outline-variant: #48454e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e6e1e9;
    inverse-on-surface: #312f36;
    inverse-primary: #615690;
    surface-dim: #141318;
    surface-bright: #3a383e;
    surface-container-lowest: #0f0d13;
    surface-container-low: #1c1b20;
    surface-container: #201f24;
    surface-container-high: #2b292f;
    surface-container-highest: #36343a;
}
